---
# Username
username: vagrant

# You shouldn't need to change this.
mysql_port: 3306

# MySQL Root Username
mysql_root_db_user: dbuser

# MySQL Root Pass
mysql_root_db_pass: 'SomeSuperLongPassword1234!'

# NginX Server Root
nginx_server_root: /vagrant
nginx_try_files: /index.php$is_args$args

# Node Version
node_version: stable

# PHP Version
php_version: 7.2
