---
# Username
username: vagrant

# You shouldn't need to change this.
mysql_port: 3306

# MySQL Root Username
mysql_root_db_user: dbuser

# MySQL Root Pass
mysql_root_db_pass: 'SomeSuperLongPassword1234!'

# Node Version
node_version: stable

# Timeout
fastcgi_read_timeout: 60

# PHP Version
php_version: 5.6

# NginX Virtual Hosts
virtual_hosts:
    - name: example
      host_name: example.test
      server_root: /vagrant
      try_files: /index.php$is_args$args
