---
- name: get nvm
  become: true
  become_user: vagrant
  git: repo=https://github.com/creationix/nvm.git dest=~/.nvm

- name: Source nvm in ~/.profile
  become: true
  become_user: vagrant
  lineinfile:
    dest: ~/.profile
    line: "source ~/.nvm/nvm.sh"
    create: yes

- name: current node version
  become: true
  become_user: vagrant
  shell: source ~/.profile && node -v
  register: current_node_version
  changed_when: false
  failed_when: false

- name: install nodejs
  become: true
  become_user: vagrant
  shell: source ~/.profile && nvm install {{ node_version }}
  register: command_result
  changed_when: command_result.stdout | regex_search(current_node_version.stdout) == false

- name: install yarn
  become: true
  become_user: vagrant
  shell: source ~/.profile && npm install -g yarn
  register: command_result
  changed_when: command_result.stdout | regex_search('added 1 package')
