---
- hosts: all
  become: true
  become_user: root
  roles:
  - check-variables
  - yum
  - mysql-57
  - memcached
  - php-remove
  - { role: php-56, when: php_version == "5.6" }
  - { role: php-72, when: php_version == "7.2" }
  - { role: php-73, when: php_version == "7.3" }
  - nodejs
  - nginx
  - hosts-file
  - composer
  - shell
